html, body { margin: 0px; padding: 0px; font-family: sans-serif; }

#falling-menu { margin: 10px 0px 0px 10px; }
#falling-menu ul { margin: 0px; padding: 0px; overflow: auto; }
#falling-menu ul li { margin: 0px; padding: 0px; float: left; list-style-type: none; border: 1px solid black; }
#falling-menu ul li a { padding: 10px; display: block; color: black; text-decoration: none; }
#falling-menu ul li a:hover{ background-color: black; color: white; }
#falling-menu .space-above-menu-item { height: 100px; }
#falling-menu .inner-space { height: 0px; background-color: black; }

#rising-menu { margin: 10px 0px 0px 10px; }
#rising-menu ul { margin: 0px; padding: 0px; overflow: auto; }
#rising-menu ul li { margin: 0px; padding: 0px; float: left; list-style-type: none; border: 1px solid black; }
#rising-menu ul li a { padding: 10px; display: block; background-color: black; color: white; text-decoration: none; }
#rising-menu .space-above-menu-item { height: 100px; background-color: black; }
#rising-menu .inner-space { height: 100px; background-color: white; }

#rising-menu-scale { margin: 10px 0px 0px 10px; overflow: auto; }
#rising-menu-scale ul { margin: 0px; padding: 0px; float: left; }
#rising-menu-scale ul li { margin: 0px; padding: 0px; float: left; list-style-type: none; border: 1px solid black; }
#rising-menu-scale ul li a { padding: 10px; display: block; background-color: black; color: white; text-decoration: none; }
#rising-menu-scale .space-above-menu-item { height: 100px; background-color: black; }
#rising-menu-scale .inner-space { height: 100px; background-color: white; }
